*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', 'Times', 'serif';
    box-sizing: border-box;
}

.container{
    /*
    background: linear-gradient(45deg,#153677,#4e085f,#d2001a,#7462ff,#f48e21,#23d5ab); */
    background-size: cover;
    font-size: larger;
    padding: 10px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(120deg,#E27D60,#85DCB8,#E8A87C,#C38D9E,#41B3A8,#153677,#4e085f,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 40s ease-in-out infinite;
  
    justify-content: center;
    min-height: 100vh;
    
    

}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;   
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:15px 8px 15px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/unchecked.png);
    background-position: center;
    background-size: cover;
    top: 11px;
    left: 8px;
}

ul li.Checked{
    color:#555;
    text-decoration: line-through;
}
ul li.Checked::before{
    background-image: url(/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;
}
